# version of docker-compose
version: '2.2'

# external network
networks:
 macvlan-network:
  external: true
 macvlan-network2:
  external: true

# services (container)
services:
 ros-master:
  image: mm-ros-control:latest
  container_name: ros-master
  networks:
   macvlan-network:
    ipv4_address: 192.168.1.2
   macvlan-network2:
    ipv4_address: 192.168.2.2
  environment:
   - "ROS_MASTER_URI=http://192.168.1.2:11311"
   - "ROS_HOSTNAME=192.168.1.2"
  command: stdbuf -o L roscore
  restart: always

 ur-ros-driver:
  image: mm-ros-control:latest
  container_name: ur-ros-driver
  depends_on:
   - ros-master
  networks:
   macvlan-network:
    ipv4_address: 192.168.1.3
  environment:
   - "ROS_MASTER_URI=http://192.168.1.2:11311"
   - "ROS_HOSTNAME=192.168.1.3"
   - "DISPLAY=$DISPLAY"
  volumes:
   - /tmp/.X11-unix:/tmp/.X11-unix:rw
   - ./ur_ros_cartesian_control:/root/catkin_ws/src/ur_ros_cartesian_control
   - ./ur_calibration_data:/root/ur_calibration_data
  command: bash -c "source /opt/ros/noetic/setup.bash &&\ 
          cd ~/catkin_ws && catkin_make &&\ 
          rm -rf /root/catkin_ws/src/fmauch_universal_robot/ur_description/urdf/ur.xacro &&\
          cp src/ur_ros_cartesian_control/ur_ros_cartesian_control/ur.xacro src/fmauch_universal_robot/ur_description/urdf/ur.xacro &&\
          chmod +x src/fmauch_universal_robot/ur_description/urdf/ur.xacro &&\
          catkin_make &&\
          source ~/catkin_ws/devel/setup.bash &&\ 
          roslaunch ur_robot_driver ur10_cartesian_passthrough_bringup.launch robot_ip:=192.168.1.102 kinematics_config:=/root/ur_calibration_data/my_robot_calibration.yaml"
  cpus: 1.0
  privileged: true
  restart: always

 ur-ros-control:
  image: mm-ros-control:latest
  container_name: ur-ros-control
  depends_on:
   - ros-master
   - ur-ros-driver
  networks:
   macvlan-network:
    ipv4_address: 192.168.1.4
  environment:
   - "ROS_MASTER_URI=http://192.168.1.2:11311"
   - "ROS_HOSTNAME=192.168.1.4"
   - "DISPLAY=$DISPLAY" # for keyboard input
  volumes:
   - ./ur_ros_cartesian_control:/root/catkin_ws/src/ur_ros_cartesian_control
   - /tmp/.X11-unix:/tmp/.X11-unix:rw # for keyboard input
  command: tail -F anything
  privileged: true

 amr-ros-control:
  image: mm-ros-control:latest
  container_name: amr-ros-control
  depends_on:
   - ros-master
  networks:
   macvlan-network:
    ipv4_address: 192.168.1.5
  environment:
   - "ROS_MASTER_URI=http://192.168.1.2:11311"
   - "ROS_HOSTNAME=192.168.1.5"
   - "DISPLAY=$DISPLAY" # for keyboard input
  volumes:
   - ./can_sending:/root/catkin_ws/src/can_sending
   - /dev:/dev:rw
   - /tmp/.X11-unix:/tmp/.X11-unix:rw # for keyboard input
  command: tail -F anything
  privileged: true

 ros-autoware:
  image: docker.io/autoware/autoware:latest-melodic-cuda
  container_name: ros-autoware
  depends_on:
   - ros-master
   - amr-ros-control
  networks:
   macvlan-network:
    ipv4_address: 192.168.1.6
   macvlan-network2:
    ipv4_address: 192.168.2.6
  environment:
   - "ROS_MASTER_URI=http://192.168.1.2:11311"
   - "ROS_HOSTNAME=192.168.1.6"
   - "DISPLAY=$DISPLAY" 
   - ${XAUTHORITY}:${XAUTHORITY}"
  volumes:
   - /tmp/.X11-unix:/tmp/.X11-unix:rw
   - ./autoware_map:/autoware
   - ./topic_remapping:/home/autoware/Autoware/src/topic_remapping
  command: tail -F anything
  privileged: true

 image_proc:
    image: real-sense:latest
    container_name: image_proc
    depends_on:
      - ros-master
    networks: 
      macvlan-network: 
        ipv4_address: 192.168.1.7
    environment:
      - "ROS_MASTER_URI=http://192.168.1.2:11311"
      - "ROS_HOSTNAME=192.168.1.7"
      - "DISPLAY=$DISPLAY"
      - "QT_X11_NO_MITSHM=1"
      - "${XAUTHORITY}:${XAUTHORITY}"
    volumes:
      - ~/mm_ros_control/Vision:/root/catkin_ws/src/vision_detection
      - /tmp/.X11-unix:/tmp/.X11-unix:rw 
      - ./hand_eye_calib:/root/catkin_ws/src/hand_eye_calib
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    command: tail -F anything
    
    cpus: 1.0
    privileged: true
    restart: always
    #depth_width:=1280 depth_height:=720

 realsense:
  image: real-sense:latest
  container_name: realsense
  depends_on:
    - ros-master
  networks: 
    macvlan-network: 
      ipv4_address: 192.168.1.8
  environment:
    - "ROS_MASTER_URI=http://192.168.1.2:11311"
    - "ROS_HOSTNAME=192.168.1.8"
    - "DISPLAY=$DISPLAY" 
  volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix:rw    
    - /dev/bus/usb:/dev/bus/usb:rw  
    - ./camera_calibration_data:/root/.ros/camera_info/
  command: >
    bash -c " cd ~/catkin_ws &&
    source /opt/ros/noetic/setup.bash &&
    roslaunch realsense2_camera rs_camera.launch filters:=spatial,decimation,pointcloud clip_distance:=1.0 align_depth:=true enable_sync:=true unite_imu_method:="linear_interpolation" enable_gyro:=true enable_accel:=true"
  cpus: 1.0
  privileged: true
  restart: always

 robotiq-gripper:
  image: gripper-ros-control:latest
  container_name: gripper
  depends_on:
   - ros-master
   - ur-ros-driver
   - ur-ros-control
  networks: 
    macvlan-network: 
      ipv4_address: 192.168.1.9
  environment:
    - "ROS_MASTER_URI=http://192.168.1.2:11311"
    - "ROS_HOSTNAME=192.168.1.9"
    - "DISPLAY=$DISPLAY" 
  volumes:
    - /tmp/.X11-unix:/tmp/.X11-unix:rw  
    - /dev:/dev:rw    
  command: bash -c "cd ~/catkin_ws && source devel/setup.bash && rosrun robotiq_vacuum_grippers_control RobotiqVacuumGrippersRtuNode.py /dev/ttyUSB0"
  cpus: 1.0
  privileged: true
  restart: always

 HDL_map_builder:
  image: mm_map_create:latest
  container_name: HDL_map_builder
  depends_on:
   - ros-master
   - ros-autoware
  networks:
   macvlan-network:
    ipv4_address: 192.168.1.10
   macvlan-network2:
    ipv4_address: 192.168.2.10
  environment:
   - "ROS_MASTER_URI=http://192.168.1.2:11311"
   - "ROS_HOSTNAME=192.168.1.10"
   - "DISPLAY=$DISPLAY" 
   - ${XAUTHORITY}:${XAUTHORITY}"
  volumes:
   - /tmp/.X11-unix:/tmp/.X11-unix:rw
   - ~/mm_ros_control/autoware_map:/root/catkin_ws/src/autoware_map
  command: bash -c "cd /root/catkin_ws && source devel/setup.bash && catkin_make && source devel/setup.bash && roslaunch velodyne_pointcloud VLP16_points.launch"
  privileged: true
  restart: always
